hash-tag{
  height:10px;
  font-family:sans-serif;
}

.editor_body{
  width:100%;
  height:100%;
  overflow-y:auto;
  overflow-x:none;
  border-top:1px solid #e9e9e9;
  border-bottom:1px solid #e9e9e9;
  position:relative;
  box-sizing:border-box;
  min-height:5em;
}

div.inp{
  z-index:1;
}

div.outp{
  z-index:2;
}

span.mention{
  background:#69c;
  color:#fff;
  border-radius: .5em;
  padding:0 .2em;
  margin:0 -.2em;
}

div.outp, div.placeholder{
  pointer-events:none;
}

.outp, .inp, .placeholder{
  text-align: left;
  width:100%;
  height:auto;
  min-height:100%;
  position:absolute;
  top:0;
  left:0;
  overflow-y:visible;
}

div.outp:focus, div.inp:focus, div.placeholder:focus{
  outline:none;
}